

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  input:required {
    border-bottom: thin solid rgb(233, 24, 24);
    border-top: thin dotted gray;
    border-right: thin dotted gray;
    border-left: thin dotted gray;
}

body{
  background-color:whitesmoke;
  font-size: 18px;
  text-align: justify;
  color: black;
}


h2{
font-weight: bold;
font-family: 'Bebas Neue', cursive;
}

h1{
  font-family: 'Shojumaru', cursive;
  text-align: center;
  color: orange;
  font-weight: bold;
}

p,li{
  font-family: 'Amiri', serif;
}

.what{
  font-size: 18px;
  margin-top: 1rem;
  background-color: #007BFF;
  color: aliceblue;
  padding: 0.1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem 1rem 1rem 1rem;

}

.danger{
  font-size: 18px;
  margin-top: 1rem;
  background-color: red;
  color: aliceblue;
  padding: 0.1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem 1rem 1rem 1rem;
}

.how{
  font-size: 18px;
  margin-top: 1rem;
  background-color: #28A745;
  color: aliceblue;
  padding: 0.1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem 1rem 1rem 1rem;
}

.content{
  font-size: 18px;
  margin-top: 1rem;
  background-color: #5F6F75;
  color: aliceblue;
  padding: 0.1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem 1rem 1rem 1rem;
}

.bodydiv{
  margin-bottom: 3rem;
}